In [36]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.linear_model import Ridge

### **Pre-processing data**

In [2]:
df = pd.read_csv('temp_data.csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
cols = ['sex', 'region']
cols

['sex', 'region']

In [8]:
df = df.drop(cols, 1)

In [9]:
dum_df = pd.get_dummies(df, columns = ['smoker'])
dum_df

      age     bmi  children      charges  smoker_no  smoker_yes
0      19  27.900         0  16884.92400          0           1
1      18  33.770         1   1725.55230          1           0
2      28  33.000         3   4449.46200          1           0
3      33  22.705         0  21984.47061          1           0
4      32  28.880         0   3866.85520          1           0
...   ...     ...       ...          ...        ...         ...
1333   50  30.970         3  10600.54830          1           0
1334   18  31.920         0   2205.98080          1           0
1335   18  36.850         0   1629.83350          1           0
1336   21  25.800         0   2007.94500          1           0
1337   61  29.070         0  29141.36030          0           1

[1338 rows x 6 columns]

In [10]:
dum_df = dum_df.drop('smoker_no', 1)

In [11]:
dum_df

      age     bmi  children      charges  smoker_yes
0      19  27.900         0  16884.92400           1
1      18  33.770         1   1725.55230           0
2      28  33.000         3   4449.46200           0
3      33  22.705         0  21984.47061           0
4      32  28.880         0   3866.85520           0
...   ...     ...       ...          ...         ...
1333   50  30.970         3  10600.54830           0
1334   18  31.920         0   2205.98080           0
1335   18  36.850         0   1629.83350           0
1336   21  25.800         0   2007.94500           0
1337   61  29.070         0  29141.36030           1

[1338 rows x 5 columns]

In [12]:
y = np.log1p(dum_df['charges'])
X = dum_df.drop('charges', 1)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [14]:
scaler = StandardScaler()
X_train['bmi'] = scaler.fit_transform(X_train[['bmi']])
X_test['bmi'] = scaler.transform(X_test[['bmi']])

In [15]:
X_train['age'] = X_train['age'].apply(lambda x: x // 10)
X_test['age'] = X_test['age'].apply(lambda x: x // 10)

In [16]:
ridge_regression = Ridge(alpha = 0.01)
ridge_regression.fit(X_train, y_train)
print(mean_squared_error(X_train, y_train))
print(mean_squared_error(X_test, y_test))

0.7417779725822176
0.7867728746198581

In [37]:
parameters = {
    'alpha': [1e-3, 2e-3, 5e-3, 1e-2, 2e-2, 5e-2, 1e-1, 2e-1, 5e-1]
}
ridge_regressor = GridSearchCV(ridge_regression, parameters,
                                scoring = make_scorer(mean_squared_error), cv = 5)
ridge_regressor.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=Ridge(alpha=0.01),
             param_grid={'alpha': [0.001, 0.002, 0.005, 0.01, 0.02, 0.05, 0.1,
                                   0.2, 0.5]},
             scoring=make_scorer(mean_squared_error))

In [38]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 0.001}
0.22007406251556652

In [39]:
y_ridge = ridge_regressor.predict(X_test)
y_ridge

array([ 8.26800594,  8.97989447,  9.22048146,  8.30229336,  9.18093068,
       10.40505266,  9.27078736,  9.2428415 ,  7.99931522,  8.7000247 ,
        9.28218067,  8.48437135, 10.31524372,  8.96559573,  7.80858476,
        9.0160595 ,  7.89537814,  9.50992332,  8.57550176,  9.6657497 ,
        8.8246431 ,  8.62193488,  9.52932419,  9.2903461 ,  8.53176511,
        9.04293051,  8.22012515, 11.16465475,  8.2140523 , 10.29945293,
        9.09429853,  9.00235528, 10.95550348, 10.15704326,  9.70290423,
       10.7080879 ,  7.98749197,  9.74539539,  7.90118227,  8.71641001,
        8.50607042,  9.19899401,  9.32817713,  9.1157416 ,  8.29568309,
        9.21167112,  7.96986123,  8.95635811,  8.83387737, 11.19152576,
        9.6105284 ,  8.59765284,  9.12084709, 10.4336878 ,  8.23028239,
        8.52745974,  9.06872669,  9.29561617,  9.39147588, 10.74107614,
       10.13371586,  9.13105808,  8.36721037, 10.72576302,  8.82366974,
       10.16408011,  9.63127282,  8.31815061,  8.70211799,  9.40500944,
        8.10786741,  8.04295039,  8.87720616,  9.27809627,  9.28991881,
       10.3145007 ,  9.47542093,  9.50277563, 10.03806441, 10.46303095,
       10.45820353,  8.80728443,  9.71820192,  8.63375812,  7.83615442,
        7.90967351,  9.00230754, 10.44594434,  8.94705809,  8.63752272,
        9.02895758,  8.95334926, 10.04563603,  9.15250115,  8.9109468 ,
        8.0556839 ,  8.63574658,  8.55808935,  8.18653638,  8.85629716,
        9.76227038,  9.18932044,  8.86515859,  9.4958429 ,  9.50659131,
        8.57856841,  9.13105808,  8.5968971 ,  8.55841515, 10.34674592,
        9.52829973,  8.42740145,  9.55076726,  9.36880946, 10.31686199,
        9.17318847,  8.62666418,  8.27219782,  8.71436446,  9.44253081,
        9.00950632,  9.1851763 , 10.93916255,  9.18480011,  9.06765184,
        8.29976413,  9.20457717,  9.50583892,  8.5499743 ,  8.2885354 ,
       10.6123767 ,  9.78109889,  8.36409934,  9.46091058,  8.5908216 ,
        8.94394105,  9.37572003,  9.81317952,  9.29432301,  8.63171593,
        8.86538292, 10.04430184,  8.66637618,  8.1877187 ,  8.75525614,
        9.24714086,  9.19947168,  9.273152  , 10.68589244,  8.91658635,
       10.85167388,  7.92235663,  8.95946914, 10.69513006,  9.36333378,
        8.1345141 ,  9.23252568,  9.43436202,  8.15681704, 10.0930929 ,
        8.8664544 ,  8.91008958,  9.03841618, 10.50302103,  9.38836821,
        7.91171571,  8.75010291,  9.04615503,  9.2670187 ,  8.96049359,
        9.44145597, 10.22668958, 10.66138607,  9.78254657,  8.19766098,
        9.12472588, 10.48878274,  8.77197927,  8.31078795,  9.9731474 ,
        8.24414784, 10.3288942 , 10.51435459, 10.02827736,  8.12516298,
        9.12901588,  9.75866967,  8.80088913,  9.24031227,  8.74500077,
        9.07689547,  7.79735267,  8.17821573,  8.7495151 ,  8.24564926,
        7.94949636,  8.45395001,  9.29421217, 10.01925806,  8.6521379 ,
        9.20253498,  9.40168687,  9.59946019,  7.85388929,  8.83098466,
       10.66918202, 10.55723737,  8.90637537,  8.84366178,  8.85763135,
        8.49585608,  8.90965363,  8.61484093,  9.53561201,  8.53691834,
        9.1882456 ,  7.92901729,  9.13429532,  8.63709013,  8.33856587,
        8.38860306,  8.88391456,  9.50233626,  8.37021993,  9.16652782,
        8.17213352,  9.9822869 ,  7.8473865 ,  9.04728697,  8.00877382,
        8.00189484, 10.92390653,  9.20253498,  8.49483833,  9.06668784,
        8.58469501,  9.81257292,  7.76650475,  7.8632404 ,  8.93201032,
        9.34193845,  8.14047946,  8.50381325,  9.03218211,  8.90083994,
        9.26686083,  8.23135723,  9.9030362 ,  8.65557403, 10.9473347 ,
       10.73184523,  8.83179079,  9.72905781,  9.40368133,  8.13773862,
        9.3260879 ,  8.79271433,  8.81754315,  9.42297472,  8.8991833 ,
        7.93310504, 10.94754631,  9.03003242, 10.75026938, 11.33436537,
        8.14252166,  8.98575235,  8.22393748])

In [40]:
mean_squared_error(y_ridge, y_test)

0.17961198382783342