In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge

### **Pre-processing data**

In [2]:
df = pd.read_csv('temp_data.csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
cols = ['sex', 'region']
cols

['sex', 'region']

In [8]:
df = df.drop(cols, 1)

In [9]:
dum_df = pd.get_dummies(df, columns = ['smoker'])
dum_df

      age     bmi  children      charges  smoker_no  smoker_yes
0      19  27.900         0  16884.92400          0           1
1      18  33.770         1   1725.55230          1           0
2      28  33.000         3   4449.46200          1           0
3      33  22.705         0  21984.47061          1           0
4      32  28.880         0   3866.85520          1           0
...   ...     ...       ...          ...        ...         ...
1333   50  30.970         3  10600.54830          1           0
1334   18  31.920         0   2205.98080          1           0
1335   18  36.850         0   1629.83350          1           0
1336   21  25.800         0   2007.94500          1           0
1337   61  29.070         0  29141.36030          0           1

[1338 rows x 6 columns]

In [10]:
dum_df = dum_df.drop('smoker_no', 1)

In [11]:
dum_df

      age     bmi  children      charges  smoker_yes
0      19  27.900         0  16884.92400           1
1      18  33.770         1   1725.55230           0
2      28  33.000         3   4449.46200           0
3      33  22.705         0  21984.47061           0
4      32  28.880         0   3866.85520           0
...   ...     ...       ...          ...         ...
1333   50  30.970         3  10600.54830           0
1334   18  31.920         0   2205.98080           0
1335   18  36.850         0   1629.83350           0
1336   21  25.800         0   2007.94500           0
1337   61  29.070         0  29141.36030           1

[1338 rows x 5 columns]

In [12]:
y = np.log1p(dum_df['charges'])
X = dum_df.drop('charges', 1)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [14]:
scaler = StandardScaler()
X_train['bmi'] = scaler.fit_transform(X_train[['bmi']])
X_test['bmi'] = scaler.transform(X_test[['bmi']])

In [15]:
X_train['age'] = X_train['age'].apply(lambda x: x // 10)
X_test['age'] = X_test['age'].apply(lambda x: x // 10)

In [16]:
ridge_regression = Ridge(alpha = 0.01)
ridge_regression.fit(X_train, y_train)
print(ridge_regression.score(X_train, y_train))
print(ridge_regression.score(X_test, y_test))

0.7417779725822176
0.7867728746198581

In [28]:
parameters = {
    'alpha': [1e-3, 2e-3, 5e-3, 1e-2, 2e-2, 5e-2, 1e-1, 2e-1, 5e-1]
}
ridge_regressor = GridSearchCV(ridge_regression, parameters, cv = 5)
ridge_regressor.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=Ridge(alpha=0.01),
             param_grid={'alpha': [0.001, 0.002, 0.005, 0.01, 0.02, 0.05, 0.1,
                                   0.2, 0.5]})

In [29]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 0.5}
0.7381592831932811

In [30]:
y_ridge = ridge_regressor.predict(X_test)
y_ridge

array([ 8.26906117,  8.98073506,  9.22128743,  8.30332698,  9.1817482 ,
       10.40145475,  9.27154826,  9.24362001,  8.00040942,  8.70086118,
        9.2829344 ,  8.48529026, 10.31177926,  8.9664587 ,  7.80979912,
        9.01689067,  7.89653782,  9.5106505 ,  8.5764802 ,  9.66246054,
        8.8254913 ,  8.62288406,  9.53003915,  9.29110805,  8.53268088,
        9.04374476,  8.22119718, 11.16090237,  8.21512815, 10.29590819,
        9.09517063,  9.00319509, 10.9517793 , 10.15356152,  9.70353656,
       10.70441601,  7.98859362,  9.74205605,  7.9023383 ,  8.71731303,
        8.50707923,  9.19972329,  9.32892861,  9.11660019,  8.29672087,
        9.21246928,  7.97098735,  8.95715004,  8.83480997, 11.18775646,
        9.6111922 ,  8.5985271 ,  9.12170247, 10.43016207,  8.23134802,
        8.52845508,  9.06952468,  9.29636144,  9.3922777 , 10.73747369,
       10.13026218,  9.13190702,  8.36821646, 10.72215685,  8.8245954 ,
       10.1606073 ,  9.63192355,  8.31916088,  8.70301665,  9.40176762,
        8.10891994,  8.04403046,  8.87800788,  9.27885257,  9.29061754,
       10.31094648,  9.47616986,  9.50350732, 10.03458078, 10.45948673,
       10.45457213,  8.80814356,  9.71487972,  8.63469986,  7.83735142,
        7.91082419,  9.00307053, 10.44239753,  8.94791937,  8.63839858,
        9.02978063,  8.95419322, 10.04222448,  9.15333658,  8.91181747,
        8.05676931,  8.63668706,  8.55907875,  8.18762957,  8.85712541,
        9.75892042,  9.19005582,  8.86605811,  9.49657896,  9.5073206 ,
        8.57953155,  9.13190702,  8.5977852 ,  8.55939099, 10.34317138,
        9.52902871,  8.42836961,  9.55146871,  9.36952198, 10.31331965,
        9.17402424,  8.62761038,  8.2732504 ,  8.71528213,  9.44330046,
        9.01032827,  9.18599115, 10.93546203,  9.18561519,  9.06845052,
        8.3008127 ,  9.2053798 ,  9.50656868,  8.55096882,  8.28957769,
       10.60875175,  9.78168195,  8.36503053,  9.46166865,  8.59177702,
        8.9448043 ,  9.37249666,  9.81375574,  9.29508245,  8.63265894,
        8.86619208, 10.04080091,  8.66731072,  8.18881115,  8.7562249 ,
        9.24791667,  9.20027752,  9.27391142, 10.68223454,  8.91746684,
       10.84801511,  7.92349932,  8.96033597, 10.6915432 ,  9.36397289,
        8.13564006,  9.2332472 ,  9.43513682,  8.15792895, 10.08958795,
        8.86727625,  8.9108973 ,  9.03923327, 10.49937476,  9.38908176,
        7.9128651 ,  8.75099806,  9.04696725,  9.26780871,  8.96134641,
        9.4422263 , 10.22317732, 10.65774361,  9.78314208,  8.19874716,
        9.12548859, 10.48513208,  8.77284728,  8.31180286,  9.9696913 ,
        8.24520473, 10.32542113, 10.51077804, 10.02487674,  8.12629484,
        9.12986611,  9.75532197,  8.80175228,  9.24110574,  8.74588578,
        9.07768832,  7.79857412,  8.17922394,  8.75039726,  8.24671857,
        7.95062195,  8.45490144,  9.29498505, 10.01577291,  8.65306805,
        9.20333889,  9.40248225,  9.60006747,  7.85507511,  8.83182886,
       10.66552128, 10.55364717,  8.90726229,  8.84457484,  8.85854898,
        8.49688469,  8.91053849,  8.61579458,  9.53632301,  8.53790772,
        9.18898166,  7.93016914,  9.13503864,  8.63802976,  8.33959   ,
        8.3895823 ,  8.88480226,  9.49903311,  8.37122411,  9.16735441,
        8.17323578,  9.97881168,  7.84857642,  9.04808511,  8.00986206,
        8.00298741, 10.92018889,  9.20333889,  8.49585423,  9.06747376,
        8.58565429,  9.80919126,  7.76774563,  7.86442033,  8.93288108,
        9.34266789,  8.14160167,  8.50482349,  9.03300312,  8.90173035,
        9.26763758,  8.23242218,  9.9035558 ,  8.65651538, 10.94361566,
       10.72814501,  8.83263448,  9.72572877,  9.4043986 ,  8.13886255,
        9.32681397,  8.7936595 ,  8.81847267,  9.42367983,  8.89998453,
        7.93424095, 10.9438405 ,  9.0308548 , 10.74664778, 11.33053279,
        8.14364258,  8.98658925,  8.22502047])

In [31]:
mean_squared_error(y_ridge, y_test)

0.179602879443211